* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }


/* MENU */

  header {
    width: 100%;
    min-width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    color: #fff;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-weight: bold;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff6900;
  }

  
/* HERO SECTION */

.herosection {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    padding: 20px 0; /* Espaço vertical da section */
    margin-top: 80px;
  }
  
  .insideherosection {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }
  
  .thehero {
    flex: 1;
    background-color: #4caf50; /* Cor de fundo dos boxes */
    margin: 0; /* Espaço entre os boxes */
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  


/* ENFASE */

.section {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    padding: 20px 0; /* Espaço vertical da section */
  }
  
  .insidesection {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }
  
  .modeloenfase {
    flex: 1;
    background-color: #4caf50; /* Cor de fundo dos boxes */
    margin: 0; /* Espaço entre os boxes */
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  


/* MÁQUINAS LASER E PLASMA */

.modelos {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    padding: 20px 0; /* Espaço vertical da section */
  }
  
  .laser {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }

  .plasma {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }
  
  .box {
    flex: 1;
    background-color: #4caf50; /* Cor de fundo dos boxes */
    margin: 0 10px; /* Espaço entre os boxes */
    padding: 20px;
    color: #fff;
    text-align: center;
  }




/* FORMULÁRIO DE CONTATO */

.formsection {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    padding: 20px 0; /* Espaço vertical da section */
  }
  
  .insideformsection {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }
  
  .form {
    flex: 1;
    background-color: #4caf50; /* Cor de fundo dos boxes */
    margin: 0; /* Espaço entre os boxes */
    color: #fff;
    text-align: center;
    padding: 20px;
  }




  /* FOOTER */
.footersection {
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0; /* Cor de fundo para destaque */
    padding: 20px 0; /* Espaço vertical da section */
  }
  
  .insidefootersection {
    width: 80%; /* Ajuste conforme necessário */
    max-width: 1200px; /* Limite de largura máxima */
    display: flex;
    justify-content: space-between; /* Espaça os boxes uniformemente */
  }
  
  .footer {
    flex: 1;
    background-color: #4caf50; /* Cor de fundo dos boxes */
    margin: 0; /* Espaço entre os boxes */
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  